@CHARSET "UTF-8";
html {
	overflow:hidden;
}
#header {
	color:#fff;
	height:80px;
	background:#278296 url(../images/alogo.png) no-repeat left top;
}
#header p {
	height:53px;
	line-height:53px;
	text-align:right;
	padding:0 20px 0 0;
}
#header p a {
	color:#fff;
	text-decoration:none;
}
#header p a:hover {
	text-decoration:underline;
}
#header ul {
	border-top:1px solid #fff;
	border-bottom:1px solid #fff;
	height:25px;
	line-height:25px;
	background:#80BDCB;
	padding:0 0 0 50px;
}
#header ul li {
	width:120px;
	text-align:center;
	border-right:1px solid #333;
	float:left;
}
#header ul li.first {
	border-left:1px solid #333;	
}
#header ul li a {
	color:#335B64;
	text-decoration:none;
	display:block;
	font-weight:bold;
	letter-spacing:2px;
	background:#9CCBD6;
}
#header ul li a:hover {
	color:#000;
	background:#80BDCB;
}
#sidebar {
	width:180px;
	background:#278296;
	float:left;
}
#sidebar dl {
	background:#fff;
	border:1px solid #333;
	width:80%;
	margin:10px auto;
	padding:10px;
}
#sidebar dl dt {
	color:#335B64;
	font-weight:bold;
	height:20px;
	line-height:20px;
	background:url(../images/nav1.gif) no-repeat left 5px;
	padding:0 0 0 15px;
}
#sidebar dl dd {
	height:20px;
	line-height:20px;
	background:url(../images/nav2.gif) no-repeat 15px 5px;
	padding:0 0 0 30px;
}
#sidebar dl dd a {
	color:#335B64;
	text-decoration:none;
}
#main {
	float:right;
}
#main iframe {
	width:100%;
	height:100%;
}