@CHARSET "UTF-8";
body {
	background:#278296;
}
#login {
	width:450px;
	height:256px;
	background:url(../images/login.png) no-repeat left center;
	margin:120px auto 0 auto;
}
#login dl {
	width:250px;
	margin:0 0 0 auto;
	padding:55px 0 0 0;
	color:#fff;
}
#login dl dd {
	margin:4px 0;
}
#login dl dd input.text {
	width:143px;
}
#login dl dd input.submit {
	width:220px;
	height:22px;
	background:#fff;
	border:1px solid #eee;
	font-size:12px;
	cursor:pointer;
}
#login dl dd.code {
	padding:0 0 0 72px;
}
#login dl dd.code img {
	border:1px solid #eee;
	cursor:pointer;
}